<launch>
  <arg name="world" default="/home/sangam/Documents/Acad/sem-4/IRPP/PROJ/scan_project/gazebo_worlds/institute_city.world" />
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />

  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)" />
    <arg name="paused" value="$(arg paused)" />
  </include>

  <node pkg="ros_humans" type="move_humans.py" name="move_humans" output="screen">
    <param name="rate" value="10.0" />
  </node>

  <node pkg="ros_humans" type="publish_human_pose.py" name="human_pose_publisher" output="screen">
    <param name="frame_id" value="map" />
    <param name="human_prefix" value="human_" />
  </node>
</launch>
